---
import Avatar from '../components/Avatar.astro';
import Text from '../components/Text.astro';
import Title from '../components/Title.astro';
import Subtitle from '../components/Subtitle.astro';
import Skills from '../components/Skills.astro';
import Languages from '../components/Languages.astro';
import Experience from '../components/Experience.astro';
import Education from '../components/Education.astro';
import Social from '../components/Social.astro';
import site from '../config.json';
const { frontmatter } = Astro.props;
---
<!DOCTYPE html>
<html lang={ site.siteLanguage }>
<head>
<title>{site.siteTitle}</title>
<meta charset="UTF-8">
<meta name="description" content={site.siteDescription}>
<meta name="keywords" content={site.siteKeywords}>
<meta name="author" content={site.siteAuthor}>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="generator" content={Astro.generator} />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="stylesheet" href="/styles/global.css">
<link rel="stylesheet" href="/styles/w3.css">
<link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto&display=swap'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <Avatar name={frontmatter.name} image={frontmatter.image} />
        <div class="w3-container">
          <Text text={frontmatter.function} icon="fa-briefcase" />
          <Text text={frontmatter.address} icon="fa-home" />
          <Text text={frontmatter.email} icon="fa-envelope" />
          <Text text={frontmatter.telephone} icon="fa-phone" />
          <hr>

          <Subtitle text="Skills" icon="fa-asterisk" />
          <Skills lists={frontmatter.skills}/>
          <br>

          <Subtitle text="Languages" icon="fa-globe" />
          <Languages lists={frontmatter.languages}/>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <Title text="Work Experience" icon="fa-suitcase" />
        <Experience lists={frontmatter.experiences}/>
      </div>

      <div class="w3-container w3-card w3-white">
        <Title text="Education" icon="fa-certificate" />
        <Education lists={frontmatter.educations}/>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <Social lists={frontmatter.social}/>
  <p>Powered by <a href="https://github.com/dofbi/astro-cv-theme" target="_blank">dofbi</a></p>
</footer>

</body>
</html>